<!Doctype html>
<html>
    <head>
        <title>Practice Login</title>
        <!-- <link rel="stylesheet" href="static/style.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        </head>
    <body>
        <!-- <div class="login"> -->
            <div class="login">
                
           
            <h1>Welcome to the Home Page!</h1>
           <div id="content">
                <p id="user"> Username: </p>
                <input type="text" id="username" name="Username"> 

                <p id="pass"> Password:</p> 
                <input type="password" id="password" name="Password"> <br>
            </div>

             <button id="log">Login </button> 

            <div id="signin">
                <h3>No account?</h3>
                <!-- <a href="/new"><button type="button">SignUp</button></a> -->
                <button onclick="window.location.href='/new'">SignUp</button>
                <!-- <a href="C:\bus\bussytem\practice\templates\newuser.html"><button type="button">SignUp</button></a> -->
            </div>

        </div>
        </body>
    </html>