<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <form action="/new" method="POST">
        <label id="username_new">Enter Username:</label>
        <input type="text" id="usr_ip" name="username"> <br>

        <label id="pass_new">Enter Password:</label>
        <input type="password" id="usr_ip" name="password"> <br>

        <label id="pass2_new">Re-enter Password</label>
        <input type="password" id="usr2_ip" name="password2"> <br>
        <button>Submit</button>
        </form>
</body>
</html>